<form [formGroup]="pickingForm" (ngSubmit)="pick(pickingForm.value)">

  <div id="itemConfirm">
    <span>{{ picks.item_code }} </span>
    <br>
    <span class="primaryColor">
      {{ picks.description}}
      ({{ picks.barcode1}})
    </span>
    <md-input-container md-no-float>
      <span md-prefix>Confirm:</span>
      <input mdInput type="text" [formControl]="pickingForm.controls['item']" 
        [(ngModel)]="itemCheckbox.checked? picks.item_code : blank ">
    </md-input-container>
    <md-checkbox color="primary" #itemCheckbox></md-checkbox>    
  </div>

  <hr>

  <div id="locationConfirm">
    <span>{{ picks.from_locator_code }} </span>
    <br>    
    <md-input-container>
      <span md-prefix>Confirm:</span>
      <input mdInput type="text" [formControl]="pickingForm.controls['location']" 
        [(ngModel)]="locationCheckbox.checked? picks.from_locator_code : blank">
    </md-input-container>
    <md-checkbox color="primary" #locationCheckbox></md-checkbox>
    
  </div>

  <hr>

  <div id="quantityConfirm">
    <span>Boxes to Pick: {{ picks.numberBoxes() }} </span>
    <br>
    <span>({{ picks.box_quantity }} per box, {{ picks.numberBoxes() }} items)</span>
    <br>
    Actual Boxes Picked
    <br>    
    <md-input-container md-no-float>
      <span md-prefix>Confirm:</span>
      <input mdInput type="text" [formControl]="pickingForm.controls['quantity']" 
        [(ngModel)]="quantityCheckbox.checked? picks.numberBoxes() : blank">
    </md-input-container>
    <md-checkbox color="primary" #quantityCheckbox></md-checkbox>
    
  </div>






  <button md-raised-button type="submit" color="accent"
          [disabled]="!pickingForm.valid">Pick</button>
</form>
<br>
<button md-raised-button color="accent"
        [disabled]="pickingForm.valid">Skip</button>
<br>
<button md-raised-button color="accent" [routerLink]="['/stockPicking/pickForm']">Return to Menu</button>