<form #f="ngForm" (ngSubmit)="startPicking()">  
<div class="input">
  <app-pick-type-selection (value)="addCriteria($event)"></app-pick-type-selection>
  <app-pick-for-selection (value)="addCriteria($event)"></app-pick-for-selection>
  <app-pick-using-selection (value)="addCriteria($event)"></app-pick-using-selection>
  <app-pick-location-selection (value)="addCriteria($event)"></app-pick-location-selection>  
</div>
<md-card-actions align="center">
  <button class="button" md-raised-button type="submit">Start Picking</button>
  <button class="button" md-raised-button>Clear My Assigned Picks</button>
  <button class="button" md-raised-button>Clear My Skipped Picks</button>

</md-card-actions>
</form>
